
    <p>LOGIN</p>
<form method="post" action="/api/signin">

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">User name</label>
    <input type="text" id="form2Example1" class="form-control" name="username" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" name="password"/>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="form-outline mb-4 mt-3">
    <button style="width: 100%;" class="btn btn-primary" type="submit">LOGIN</button>
    </div>

  <!-- Register buttons -->
  <div class="text-center">
    <p>You don't have an account ? <a href="/api/signup">Register</a></p>
  </div>
</form>